.weather__header {
  background: #ffffff;
  height: 10vh;
}

.weather__header h1 {
  padding: 0 44px;
  margin: auto;
  max-width: 1679px;
  padding-top: 30px;
  color: #5fa6f1;
}

@media (max-width: 1024px) {
  .weather__header {
    padding: 0 20px;
    background: #5fa6f1;
    height: 13vh;
  }
  .weather__header h1 {
    padding-left: 0;
    width: auto;
    color: #ffffff;
  }
}
