form,
.input__wrapper {
  position: relative;
}

.searchBar {
  width: 330px;
  height: 38px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  padding-left: 21px;
  color: #707070;
}

.searchBar:focus {
  outline: none;
}

.searchBar-nonactive {
  border-radius: 13px;
}

.searchBar-suggested {
  border-radius: 13px 13px 0 0;
  border-bottom: 1px solid #e8e8e8;
}

.search__button {
  position: absolute;
  top: 9px;
  right: 14px;
  background: none;
  border: none;
}

.input__suggestions {
  position: absolute;
  padding: 12px 21px;
  width: 330px;
  background: #ffffff;
  border-radius: 0px 0px 13px 13px;
}

@media (max-width: 1024px) {
  .searchBar,
  .input__suggestions {
    width: 100%;
  }
}
