.card {
  width: 178px;
  height: 321px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-right: 1px solid #e8e8e8;
}

.card:hover {
  cursor: pointer;
}

.card__top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 107px;
  font: normal normal bold 15px/20px Nunito;
  letter-spacing: 0px;
  color: #5a5a5a;
  border-bottom: 1px solid #e8e8e8;
}

.card:nth-of-type(6n) {
  border-right: none;
}

.card:nth-of-type(1n + 7) {
  border-top: 1px solid #e8e8e8;
}

.card__bottom {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #959595;
}

.card__bottom > * {
  margin-top: 20px;
}

.condition__icon {
  height: 44.75px;
}

.temperature {
  font: normal normal bold 25px/34px Nunito;
  letter-spacing: 0px;
  color: #959595;
}

.winddirection {
  display: flex;
}

.winddirection > div:nth-child(2) {
  margin-left: 5px;
}

.active {
  border-bottom: 10px solid #5fa6f1;
}

@media (max-width: 1024px) {
  .card {
    display: flex;
    width: auto;
    height: auto;
    border: 1px solid #e8e8e8;
  }
  .card__top {
    padding-left: 27px;
    border: none;
    height: auto;
  }
  .card__bottom {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
