.card__main-bottom {
  padding: 40px 20px;
}

.temperature > p {
  margin-left: 10px;
  font-size: 60px;
}

p {
  font-size: 18px;
}

.data-condition {
  margin-top: 24px;
}

.data-condition > p {
  font-size: 25px;
  font-weight: bold;
}

.data-condition > p:first-child,
.weather-data > .icon {
  margin-right: 10px;
}

.weather-data {
  margin-top: 30px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}
