* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #f5f6fa;
  font-family: "Nunito", sans-serif;
}

.App {
  min-height: 100vh;
}

.container {
  display: flex;
  overflow: hidden;
  padding: 0 44px;
  margin: auto;
  max-width: 1679px;
  height: 90vh;
}

.row {
  display: flex;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding: 0;
    width: auto;
    height: auto;
  }
}
